:root {
  --theme-color: purple;
  --header-footer-bg-color: #282c34;
  --card-bg-color: rgba(128, 0, 128, 0.2);
  --card-border-color: rgba(128, 0, 128, 0.8);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom CSS */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--header-footer-bg-color);
  min-height: 15vh;
  max-height: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 9999999;
}

.App-theme-btn-div {
  background-color: var(--header-footer-bg-color);
  text-align: right;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.App-theme-btn-div > span {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 1.1rem;
  border-radius: 360px;
  cursor: pointer;
}
.App-theme-btn-div > span:hover,
.App-theme-btn-selected {
  border: 2px solid white;
}

.App-footer {
  background-color: var(--header-footer-bg-color);
  color: white;
  font-size: calc(10px + 2vmin);
  align-items: center;
  text-align: center;
  color: rgb(231, 228, 228);
}

/* .App-footer-github {
  min-height: 8vh;
  max-height: 8vh;
  margin-top: 2vh;
  border: 1px solid red;
} */

.githubLogo {
  width: 6.5vh;
  background-color: white;
  border-radius: 360px;
}

.githubLogo:hover {
  background-color: var(--theme-color);
}

.App-heading {
  background-color: var(--header-footer-bg-color);
  font-family: "Calibri";
  font-size: 40px;
  text-align: center;
  color: rgb(231, 228, 228);
  font-size: calc(40px + 2vmin);
  color: var(--theme-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

.router-container {
  /* border-left: 1px solid lightgrey; */
  /* margin: 1em 1em 1em 0em; */
  padding: 1em 1em 5em 1em; /*top right bottom left*/
  color: rgb(108, 110, 112);
}

.menu-list {
  background-color: rgba(230, 223, 223, 0.884);
}

.menu-list > ul {
  list-style: none;
  margin: 0px !important;

  padding: 1em 0em 0em 0em !important;
}

.menu-list > ul > li {
  display: block;
}

.menu-list > ul > li > a {
  text-decoration: none;
  padding: 0.5em 1.5em 0.5em 1.5em;
  display: block;
  color: black;
}

.menu-list > ul > li > a:hover {
  background-color: var(--theme-color);
  color: white;
}

.menu-list-a-active {
  background-color: var(--theme-color);
  color: white !important;
}

.content-heading {
  border-bottom: 1px solid black;
  color: rgb(94, 97, 99);
  color: var(--theme-color);
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11 {
  padding: 0px !important;
}

.pd5 {
  padding: 5px !important;
}
.pd10 {
  padding: 10px !important;
}
.pd15 {
  padding: 15px !important;
}

.purple-border {
  border: 1px solid var(--theme-color);
}

.pd1rem-left {
  padding-left: 1rem;
}

.pd1-5rem-left {
  padding-left: 1.5rem;
}

.pd2rem-left {
  padding-left: 2rem;
}

.theme-color-text {
  color: var(--theme-color);
}

.purple-border-right {
  border-right: 1px solid var(--theme-color);
}

.fs3rem {
  font-size: 3rem;
}

.code-cursor {
  color: var(--theme-color);
  font-size: 1.5rem;
  font-weight: 500;
}
/* folderAndFileDetails Comonent */

.folderAndFileStructureImage {
  width: 285px;
  height: auto;
  max-width: 98%;
  border: 1px solid lightgray;
}
/* 
@media screen and (max-width: 900) {
  .folderAndFileStructureImage {
  }
} */

.code-snippet-textarea {
  color: var(--theme-color);
  background-color: var(--card-bg-color);
  width: 100%;
  border: none;
  min-height: 18rem;
  max-height: 18rem;
}

.important-text {
  color: var(--theme-color);
}

.card-container {
  font-family: "Calibri";
  text-align: center;
}

.card-div {
  min-height: 16rem;
  max-height: 16rem;
  margin: 1.5rem;
}

.card-div > .card-heading {
  color: white;
  font-weight: 350;
  font-size: 1.6rem;
  min-height: 3rem;
  max-height: 3rem;
  background-color: var(--theme-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-div > .card-description {
  font-size: 1.1rem;
  min-height: 13rem;
  max-height: 13rem;
  background-color: var(--card-bg-color);
  border-bottom: 2px solid var(--card-border-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: justify;
  padding: 0.5rem;
}

.feedback-textarea,
.feedback-inputBox {
  color: var(--theme-color);
  font-family: "Calibri";
  width: 90%;
  border: none;
  min-height: 12rem;
  max-height: 12rem;
  overflow: hidden;
  font-size: 1.1rem;
  padding: 10px;
  margin-bottom: 1.5rem;
}

.feedback-inputBox {
  min-height: 3rem;
  max-height: 3rem;
}

.feedback-sendBtn1 {
  cursor: pointer;
  position: relative;
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-left: 80px solid var(--theme-color);
  border-bottom: 40px solid transparent;
  display: inline-flex;
  z-index: 99;
  align-items: center;
}

.feedback-sendBtn2 {
  position: absolute;
  display: inline-flex;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 50px solid var(--header-footer-bg-color);
  border-bottom: 10px solid transparent;
  z-index: 99999;
  left: -80px;
}

@keyframes sendBtnRotateFrame {
  0% {
  }

  50% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

/* @keyframes sendBtnFlyFrame {
  0% {
  }

  100% {
    margin-left: 3rem;
    border-top: 15px solid transparent;
    border-left: 30px solid var(--theme-color);
    border-bottom: 15px solid transparent;
  }
} */
.feedback-sendBtnContainer {
  text-align: left;
  align-self: end;
  margin-bottom: 2rem;
}
.feedback-sendBtn1:hover {
  animation-name: sendBtnRotateFrame;
  animation-duration: 3s;
}

.feedback-container {
  font-family: "Calibri";
  min-height: 40rem;
  max-height: 40rem;
  overflow-y: scroll;
  padding: 0.2rem;
}

.feedback-div {
  min-height: 10rem;
  max-height: 10rem;
  margin-bottom: 2rem !important;
}

.feedback-div > .feedback-heading {
  color: white;
  font-weight: 100;
  font-size: 2rem;
  min-height: 10rem;
  max-height: 10rem;
  background-color: var(--theme-color);
  padding: 0.5rem !important;
  text-align: center !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  border-top-left-radius: 25px;
  font-family: Calibri;
}

.feedback-div > .feedback-description {
  font-size: 1.2rem;
  min-height: 10rem;
  max-height: 10rem;
  background-color: var(--card-bg-color);
  padding: 0.5rem !important;
  border-bottom: 3px solid var(--theme-color);
}

.footer-subheading {
  font-size: 1.7rem;
  font-family: "Calibri";
  font-weight: 200;
}
.otherStreet,
.contactUs {
  text-align: left;
}

.otherStreet > ul,
.contactUs > ul {
  font-size: 1.1rem;
  font-family: "Calibri";
  font-weight: 200;
  padding: 0px !important;
  list-style: none;
}

.footer-getCode {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #21232b;
}

.footer-buildVersion {
  font-family: "Calibri";
  font-size: 0.9rem;
  font-weight: 100;
}

.sourceCode-button {
  text-decoration: none !important;
  width: 25%;
  color: white;
  border: 1px solid white;
  padding: 0.4rem;
  border-radius: 10px;
}

.sourceCode-button:hover {
  background-color: rgb(244, 225, 255);
  text-decoration: none;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
  border-radius: 10px;
}

.helloWorldPage img {
  width: 100%;
  height: auto;
  border: 1px solid lightgray;
  margin-bottom: 1.5rem;
}
